body {
    text-align: center;
    margin: 0;
    color: white;
    background-color: #333;
    font-family: Arial, sans-serif;
}

.box {
    border: 5px solid #ffcd1c;
    background: black;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #ffcd1c;
}

h2 {
    font-size: 20px;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover#btn-1 {
    transform: scale(1.1);
    background-color: #4caf50;
    color: white;
}

button:hover#btn-2 {
    transform: scale(1.1);
    background-color: #ad0606;
    color: white;
}

p {
    visibility: hidden;
    margin-top: 20px;
    font-size: 18px;
    transition: all 0.6s ease;
}

.correct {
    color: green;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.wrong {
    color: #ad0606;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}